export const uhliveConfig = {
    identifier: "YOUR-IDENTIFIER",
    url: "wss://preprod-api.uh.live",
};
export const keycloakConfig = {
    url: "https://staging-id.uh.live",
    realm: "allo-media-api",
    clientId: "YOUR-CLIENT-ID",
};
