export const uhliveConfig = {
    identifier: "YOUR-IDENTIFIER"
};
export const keycloakConfig = {
    url: "https://id.uh.live",
    realm: "allo-media-production",
    clientId: "YOUR-CLIENT-ID",
};
